body {
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

h1 {
  font-family: helvetica;
}

.movie-item {
  border: 1px solid black;
  cursor: pointer;
  margin: 15px;
  padding: 5px;
  div {
    padding: 15px;
  }
  h1 {
    margin: 0;
  }
}

h1.main-title {
  text-align: center;
}

.list-container {
  display: block;
}

.release-date {
  font-size: 12px;
  font-style: italic;
  margin: 10px 0;
  display: block;
}

